.hero-section {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0;
    animation: fadeInBackground 2s ease-in forwards;
    overflow: hidden;
  }
  
  .hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-center h1::after {
    content: '|';
    animation: blink 1s infinite;
  }
  

.form-container {
    background-color: rgba(5, 5, 5, 0.7);
    padding: 40px;
    border-radius: 8px;
    animation: fadeIn 1s forwards;
    max-width: 400px;
    width: 100%;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .form-container label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
    color: white;
  }
  
  .form-container input,
  .form-container select {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #333;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #000000;
    color: white;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #5d5d5d;
  }

  .hero-content button {
    background-color: black; /* Fundo preto */
    color: white; /* Texto branco */
    font-size: 1rem;
    padding: 10px 20px;
    border: 2px solid white; /* Borda branca */
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .hero-content button:hover {
    background-color: white;
    color: black;
  }
  
  

  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeInBackground {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  