.interactive-map-page {
  padding-top: 100px;
  background-color: #1c1c1c;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interactive-map-page h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

.map-container-dark {
  display: flex;
  width: 90%;
  max-width: 1200px;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.map-container-dark > div {
  flex: 2;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
}

.property-details-dark {
  flex: 1;
  padding: 20px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: white;
  overflow-y: auto;
  max-width: 300px;
}

.property-details-dark h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.property-details-dark img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.property-details-dark p {
  margin: 5px 0;
}

.property-details-dark button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.property-details-dark button:hover {
  background-color: #767676;
}
